
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.calculator {
  background: white(104, 3, 62);
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px;
}

.calculator-display {
  background: rgba(0, 0, 0, 0.548);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 50px;
  overflow-x: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f27121a8, #e940579d, #8a2387a1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f27121b0, #e94057af, #8a2387ab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator-buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0.61);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

.operator {
  background: rgba(128, 128, 128, 0.419);
  color: white;
}

.clear {
  background: rgba(190, 0, 0, 0.644);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
